<a href="https://colab.research.google.com/github/Prachijainn24/python-training/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world",end="-")
print("hello prachii")

hello world-hello prachii

In [ ]:
x="10"
print(type(x))

<class 'str'>

In [ ]:
x='10'
print(type(x))

<class 'str'>

variable declaration

string formatting=> string readable format

In [ ]:
year=2025
company="regex software"
print("my year is",year,"company name is=>",company)

my year is 2025 company name is=> regex software

In [ ]:
year=2025
print (f"year is{year} company name is =>{company}" )

year is2025 company name is =>regex software

multiline string

In [ ]:
address='''b35 gopalpura jaipur
rajasthan 302018'''
print(address)

b35 gopalpura jaipur
rajasthan 302018

In [ ]:
#single line comment
''''
'''

"'\n"

In [ ]:
username="prachi"
msg=f"happy birthday {username}"

print (msg)
username="isha"
print(msg)

happy birthday prachi
happy birthday prachi

In [ ]:
#basic operators
'''
10//2     floor division => int
'''

'\n10//2     floor division => int\n'

In [ ]:
10/2
10//2

5

In [ ]:
#float iss a larger datatype
5.0+2

7.0

In [ ]:
2**3

8

In [ ]:
#comparison => true/false
10>2

True

In [ ]:
a=10
if(a>5):
  print("hey")
else:
      print("condition is false")

hey

In [ ]:
a=10
b=8
c=2
if(a<b and a<c):
     print("a is minimum")
elif(b<a and b<c) :
   print("b is  minimum")
else:
   print("c is   minimum")

c is   minimum

In [ ]:
age=30
if(age>45):
  print("citizen")
elif (age>30) :
   print("married")
elif(age>18) :
   print("adult")
else:
  print("child")

adult

In [ ]:
num=10
if(num%2==0):
    print("number is even",num)
else:
  print("number is odd",num)

number is even 10

string slicing and indexing

In [ ]:
city="RAJASTHAN"
print(city[-3])

H

slicing => extracting some portion of data

In [ ]:
#[start : stop : [step=1] ]

In [ ]:
city ="RAJASTHAN"
print(city[0:4] ) #ending values are excluded

RAJA

In [ ]:
city ="RAJASTHAN"
print(city[:4]) #ending values are excluded

RAJA

In [ ]:
city ="RAJASTHAN"
print(city[0:4:1])

RAJA

In [ ]:
city ="RAJASTHAN"
print(city[0:4:2])

RJ

In [ ]:
city ="RAJASTHAN"
print(city[1:6:1])

AJAST

In [ ]:
city ="RAJASTHAN"
print(city[0:5:-1])

In [ ]:
num=int(input("enter the number:"))
if(num% 2 == 0):
     print("num is even number")
else:
  print("num is an odd number")

enter the number:5
num is an odd number

In [ ]:
a=int(input("enter the number to check:"))
b=int(input("enter the number to check:"))
c=int(input("enter the number to check:"))
if(a>b and a>c) :
  print("a is largeest")
elif(b>a and b>c):
    print("b is largest")
else:
    print("c is largest")

enter the number to check:5
enter the number to check:3
enter the number to check:8
c is largest

In [ ]:
year=int(input("enter the year:"))
if(year % 400 ==0 and year % 100==0):
   print(year,"is a leap year")
elif(year %4 ==0 and year %100 !=0):
   print("is a leap year",year)
else:
  print("is not a leap year",year)

enter the year:2000
2000 is a leap year

In [ ]:
grade=int(input("enter the grade:"))
if(grade>=90):
  print("grade is A",grade)
elif(grade>= 80):
  print("grade is B",grade)
elif(grade>= 70):
  print("grade is C",grade)
elif(grade>= 60):
  print("grade is d",grade)
else:
 print("grade is F",grade)

enter the grade:73
grade is C 73

In [ ]:
letter=(input("enter a letter:"))
letter=letter.lower()
if(letter==['a', 'e', 'i', 'o', 'u']):
  print("is a vowel")
else:
  print("is a consonent")

enter a letter:D
is a consonent

In [ ]:
option = int(input("Choose an operation (1-Add, 2-Subtract, 3-Multiply, 4-Divide): "))

if option in [1, 2, 3, 4]:
   num1 = int(input("Enter the 1st number: "))
   num2 = int(input("Enter the 2nd number: "))

if (option == 1):
    result = num1 + num2
elif (option == 2):
    result = num1 - num2
elif (option == 3):
    result = num1 * num2
elif (option == 4):
    if num2 != 0:
        result = num1 / num2
    else:
        result = "undefined (division by zero)"

print("The result of the operation is: {}".format(result))

Choose an operation (1-Add, 2-Subtract, 3-Multiply, 4-Divide): 3
Enter the 1st number: 2
Enter the 2nd number: 2
The result of the operation is: 4

In [ ]:
num=int(input("enter the number to check:"))
if(num>0):
   print("number is positive")
elif(num==0):
   print("number is 0")
else:
   print("number is negative")

enter the number to check:0
number is 0

In [ ]:
# Pre-set credentials
correct_username = "admin"
correct_password = "1234"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check credentials
if username == correct_username and password == correct_password:
    print("Login Successful")
else:
    print("Login Failed")

Enter username: admin
Enter password: 1234
Login Successful

In [ ]:
# Take input for the three sides
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))
c = float(input("Enter third side: "))

if (a + b > c) and (b + c > a) and (a + c > b):
    print("The sides is a valid triangle.")
else:
    print("The sides do NOT form a valid triangle.")

Enter first side: 9
Enter second side: 9
Enter third side: 3
The sides is a valid triangle.

In [ ]:
# Get the product price from the user
price = float(input("Enter the price of the product: "))


if (price > 1000):
    discount = 0.10
elif (500 <= price <= 1000):
    discount = 0.05
else:
    discount = 0.0   # No discount


discount_amount = price * discount
final_price = price - discount_amount

# Print the result
print(f"Original Price: ₹{price:.2f}")
print(f"Discount: ₹{discount_amount:.2f}")
print(f"Final Price after Discount: ₹{final_price:.2f}")

Enter the price of the product: 2000
Original Price: ₹2000.00
Discount: ₹200.00
Final Price after Discount: ₹1800.00

In [ ]:

month = input("Enter the name of the month: ").strip().lower()
year = int(input("Enter the year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    leap = True
else:
    leap = False

# Determine days in the month
if month == "january":
    days = 31
elif month == "february":
    if leap:
        days = 29
    else:
        days = 28
elif month == "march":
    days = 31
elif month == "april":
    days = 30
elif month == "may":
    days = 31
elif month == "june":
    days = 30
elif month == "july":
    days = 31
elif month == "august":
    days = 31
elif month == "september":
    days = 30
elif month == "october":
    days = 31
elif month == "november":
    days = 30
elif month == "december":
    days = 31
else:
    days = -1  # Invalid input

# Display result
if days == -1:
    print("Invalid month name.")
else:
    print(f"{month.capitalize()} {year} has {days} days.")

Enter the name of the month: February
Enter the year: 2024
February 2024 has 29 days.

In [ ]:
# Initial balance
balance = 1000.0

print("Welcome to the ATM")
print("1. Check Balance")
print("2. Deposit Money")
print("3. Withdraw Money")

choice = int(input("Enter your choice (1/2/3): "))

if (choice == 1):
    print(f"Your current balance is ₹{balance:.2f}")

elif (choice == 2):
    deposit = float(input("Enter amount to deposit: ₹"))
    if (deposit > 0):
        balance += deposit
        print(f"₹{deposit:.2f} deposited successfully.")
        print(f"Updated balance: ₹{balance:.2f}")
    else:
        print("Invalid deposit amount.")

elif (choice == 3):
    withdraw = float(input("Enter amount to withdraw: ₹"))
    if (withdraw > 0):
        if (withdraw <= balance):
            balance -= withdraw
            print(f"₹{withdraw:.2f} withdrawn successfully.")
            print(f"Updated balance: ₹{balance:.2f}")
        else:
            print("Insufficient balance.")
    else:
        print("Invalid withdrawal amount.")

else:
    print("Invalid choice. Please select 1, 2, or 3.")

Welcome to the ATM
1. Check Balance
2. Deposit Money
3. Withdraw Money
Enter your choice (1/2/3): 1
Your current balance is ₹1000.00

In [ ]:
# Take age input from the user
age = int(input("Enter the age: "))

if age >= 0 and age <= 1:
    category = "Infant"
elif age >= 2 and age <= 4:
    category = "Toddler"
elif age >= 5 and age <= 12:
    category = "Child"
elif age >= 13 and age <= 19:
    category = "Teenager"
elif age >= 20 and age <= 59:
    category = "Adult"
elif age >= 60:
    category = "Senior"
else:
    category = "Invalid age"

# Print the result
print(f"The person is categorized as: {category}")