<a href="https://colab.research.google.com/github/Prachijainn24/python-training/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world!")

hello world!

In [ ]:
# BMI Calculator Program

weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))

bmi = weight / (height ** 2)


print(f"Your BMI is: {bmi:.2f}")

if bmi < 18.5:
    print("Category: Underweight")
elif 18.5 <= bmi < 24.9:
    print("Category: Normal weight")
elif 25 <= bmi < 29.9:
    print("Category: Overweight")
else:
    print("Category: Obesity")

Enter your weight in kilograms: 55
Enter your height in meters: 40.9
Your BMI is: 0.03
Category: Underweight

In [ ]:
price=float(input("enter the product price:"))

if(price<=1000):
  print("discount will be 10%")
elif(price>=):
  print("product discount is 5%")
else:
   print("no discount applied ")

In [ ]:
a=20
b=30
print(a)
print(b)
temp=a
a=b
b=temp
print(a)
print(b)

20
30
30
20

In [ ]:
a=20
b=30
print(a)
print(b)
a=a+b
b=a-b
a=a-b
print(a)
print(b)

20
30
30
20

In [ ]:
for i in range(8,2,-1):
   print(i)

8
7
6
5
4
3

In [ ]:
total=0
for i in range(1,11):
 total=total+i
 print(total)

1
3
6
10
15
21
28
36
45
55

In [ ]:
i=input("enter the number")
for i in range(20,55):
 if(i%2==0 and i%6==0):
   print("i is divisible by both 2 and 6")
else:
     print("not divisible")

enter the number6
i is divisible by both 2 and 6
i is divisible by both 2 and 6
i is divisible by both 2 and 6
i is divisible by both 2 and 6
i is divisible by both 2 and 6
i is divisible by both 2 and 6
not divisible

In [ ]:
num=10
for i in range(1,11):
  if(num%i==0):
     print("factor is:",i)

factor is: 1
factor is: 2
factor is: 5
factor is: 10

In [ ]:
num=14
count=0
for i in range(1,num,-1):
   if(num%i==0):
      count+=1

if(count>2):
    print("prime number",num)
else:
   print("not prime no",num)

not prime no 14

In [ ]:
for i in range(1,9):
   if(i==7):
      break
print("break statement is used",i)

break statement is used 7

In [ ]:
i=1
while(i<5):
    print("hellooo",i)
    i+=1

hellooo 1
hellooo 2
hellooo 3
hellooo 4

In [ ]:
#while loop
#LCM 4,6
a=2
b=5
if(a>b):
     greater=a
else:
      greater=b

while(True):
   if(greater%a==0 and greater%b==0):
    print("greater is lcm=>",greater)
   break
else:
       greater+=1

In [ ]:
#palindrome
data="saras"
starts=0
end=len(data)-1
a=0
while(starts>end):
     if(data[starts]!= data[end]):
       a=1
     break

     starts+=1
     end=1

if(a==1):
    print("string is not palindrom")
else:
    print("string is palindrome")

string is palindrome

In [ ]:
#list
mylist = [1,20,30,'abc']
mylist[0]="tiger" #updated
mylist.append("prachi")  #insert at last
print(mylist)
mylist.insert(0,"list")   #inserted at first
print(mylist)
mylist.pop(2)  #delete from last
print(mylist)
print(mylist[2])

['tiger', 20, 30, 'abc', 'prachi']
['list', 'tiger', 20, 30, 'abc', 'prachi']
['list', 'tiger', 30, 'abc', 'prachi']
30

In [ ]:
mylist=[1,20,30,40]
for i in range(0,len(mylist)):
    print(i,mylist[i])

0 1
1 20
2 30
3 40

In [ ]:
mylist=[1,20,30,40]
for i in range(0,len(mylist)):

  if(mylist[i]%2==0):
    print(i,mylist[i])

1 20
2 30
3 40

In [ ]:
mylist=[1,20,30,40]
max= mylist[2]
for i in mylist:

    if(i>max):
      max=i
    print(max)

30
30
30
40

In [ ]:
mylist=[1,30,20,40]
sum=0
mylist=[]

for i in range(0,len(mylist)):
    sum+=1
    mylist.append(sum)
    print(sum, i,mylist)

In [ ]:
mylist=[-1,0,2,5,7,11,14]
#target=9
for i in range(0,7):
   print(i,mylist[i])

0 -1
1 0
2 2
3 5
4 7
5 11
6 14

In [ ]:
for i in range(1,4):
   print("---student",i)
   for j in range (1,i+1):
    print("good morning",j)

---student 1
good morning 1
---student 2
good morning 1
good morning 2
---student 3
good morning 1
good morning 2
good morning 3

In [ ]:
#mylist = immutable datatype
mylist=[-1,0,2,5,7,11,14]

for i in range(0,1):
   print(i,mylist[i])

   for j in range (1,len(mylist)):
    print(i,j,mylist[i],mylist[j])
    if(mylist[i] + mylist[j]==9):
       print("sum =>", mylist[i],mylist[j])

0 -1
0 1 -1 0
0 2 -1 2
0 3 -1 5
0 4 -1 7
0 5 -1 11
0 6 -1 14

In [ ]:
#wap to login automation of instagram
from selenium import webdriver

driver.get("https://www.instagram.in")

In [ ]:
mylist=[50,1,10,40,2,4,12,8,24,7]
for i in range(0,len(mylist)):

   for j in range(i+1,len(mylist)):
     if(mylist[i]+mylist[j]==9):
       print("sum=", mylist[i],mylist[j] )

sum= 1 8
sum= 2 7

tuples #mutable datatype

In [ ]:
mytuple=(10,20,30,"abc",10,50)
mytuple.count(10)
mytuple.index("abc")

3

patterns

In [ ]:
for i in range(1,4):
  print("student",i)

  for j in range(1,4):
    print("student" , i,end=" ")

  print("----- tea break------")

student 1
student 1 student 1 student 1 ----- tea break------
student 2
student 2 student 2 student 2 ----- tea break------
student 3
student 3 student 3 student 3 ----- tea break------

In [ ]:
for i in range(1,4):
 print("student",i)

 for j in range(1,i+1):
  print("subject",j, end="")

student 1
subject 1student 2
subject 1subject 2student 3
subject 1subject 2subject 3

In [ ]:
for i in range(1,4):
 print("student",i)

 for j in range(1,5-i):
  print("subject",j)

student 1
subject 1
subject 2
subject 3
student 2
subject 1
subject 2
student 3
subject 1

In [ ]:
for i in range(1,4):

 for j in range(1,i+1):
  print("*", end=" ")
print("")

* * * * * *

In [ ]:
for i in range(1,4):
 print("1",i)
 for j in range(1,4-i):
  print("2",j)
print("")

1 1
2 1
2 2
1 2
2 1
1 3

In [ ]:
for i in range(1,4):

 for j in range(1,2):
   print("ABC")

ABC
ABC
ABC

In [ ]:
for i in range(1,3):

 for j in range(1,3):
   print("1234")

1234
1234
1234
1234

In [ ]:
for i in range(1,5):

 for j in range(4,8):
   print(j,end=" ")
 print(" ")

4 5 6 7
4 5 6 7
4 5 6 7
4 5 6 7

In [ ]:
for i in range(1,4):

 for j in range(1,3+i):
   print(1,j,end="  ")
 print("  ")

1 1  1 2  1 3
1 1  1 2  1 3  1 4
1 1  1 2  1 3  1 4  1 5

In [ ]:
for i in range(1,5):

 for j in range(1,i+1):
  print("*",end="")
 print(" ")

*
**
***
****

In [ ]:
for i in range(1,5):

 for j in range(1,i+1):
  print("",j,end="")
 print(" ")

 1
 1 2
 1 2 3
 1 2 3 4

In [ ]:
for i in range(4,8):

 for j in range(4,i+1):
  print("",j,end="")
 print(" ")

 4
 4 5
 4 5 6
 4 5 6 7

In [ ]:
x=1
for i in range(1,5):

 for j in range(1,i+1):
  print( x,end=" ")
  x+=1
 print(" ")

1
2 3
4 5 6
7 8 9 10

In [ ]:

for i in range(1,5):
 for j in range(1,5-i):
  print( "-",end=" ")
 for j in range(1,i+1):
   print( "*",end=" ")
 print(" ")

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(1,6):
 for j in range(1,i):
  print( "-",end=" ")
 for j in range(1,7-i):
   print( "*",end="  ")
 print(" ")

*  *  *  *  *
- *  *  *  *
- - *  *  *
- - - *  *
- - - - *

In [ ]:
for i in range(1,5):


  for j in range(1,i+1):
    if((i+j)%2==0):
      print("1",end=" ")
    else:
      print("0",end=" ")

  print(" ")

1
0 1
1 0 1
0 1 0 1