<a href="https://colab.research.google.com/github/Prachijainn24/python-training/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):

 for j in range(1,6-i):
  print("*",end=" ")
 print(" ")

* * * *
* * *
* *
*

In [ ]:
for i in range(1,4):

 for j in range(1,5):
  print(j,end=" ")
 print(" ")

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,4):

 for j in range(1,5):
  print(i,end=" ")
 print(" ")

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(4,9,2):

 for j in range(1,5):
  print(i,end=" ")
 print(" ")

4 4 4 4
6 6 6 6
8 8 8 8

In [ ]:
for i in range(1,5):
  for j in range(4,8):
    print(j,end="")
  print(" ")

4567
4567
4567
4567

In [ ]:
num=1
for i in range(1,4):
  for j in range(1,5):
    print(num,end=" ")
    num+=1
  print(" ")

1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
for i in range(1,4):  # 3 rows
    for ch in ['A', 'b', 'c']:  # characters to print
        print(ch, end="")
    print()

Abc
Abc
Abc

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print(" ")

*
**
***
****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end="")
  print(" ")

1
12
123
1234

In [ ]:
for i in range(1,5):
  for j in range(4,4+i):
    print(j,end="")
  print(" ")

4
45
456
4567

In [ ]:
for i in range(1,5):
  for j in range(65,65+i):
    print(j,end=" ")
  print(" ")

65
65 66
65 66 67
65 66 67 68

In [ ]:
num = 65  # starting number

for i in range(1, 4):  # rows 1 to 3
    for j in range(i):  # increasing columns
        print(num, end=" ")
        num += 1
    print()

65
66 67
68 69 70

In [ ]:
num = 1  # starting number

for i in range(1, 5):  # rows 1 to 3
    for j in range(1,i+1):  # increasing columns
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
for i in range(1, 5):  # rows 1 to 4
    for ch in ['A', 'b', 'c', 'E', 'F', 'G', 'H', 'I', 'J'](i+1):  # characters to print
        print(ch, end="")
    print()  # move to the next line

AbcEFGHIJ
AbcEFGHIJ
AbcEFGHIJ
AbcEFGHIJ

In [ ]:
for i in range(1, 5):  # rows 1 to 4
  for j in range(1,5-i):
    print("-",end="")

    for j in range(1,i+1):
     print("*",end=" ")
  print()

-* -* -*
-* * -* *
-* * *